<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
      </script>

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="container text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">More Data?</a></p>
      </div>
    </div>
    <div class="container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <div class = "col-md-12">
          <h2>Latest Mars News:</h2>
          <h5>{{ mars_index.news_title }} </h5>
          <h6>{{ mars_index.news_par }}</h6>
          <hr>
        </div>
      <div class = "col-md-12">  
        <div class = "col-md-7">
          <img src="{{ mars_index.featured_image_url }}" align="left" width =100%>
        </div>

        <div class = "col-md-5">
          <h2>Current Weather on Mars:</h2>
        </div>
        <div class = "col-md-5">
          <p>{{ mars_index.mars_weather }}</p>
          <hr>
        </div>
        <div class = "col-md-5"> 
          <h2>Mars Facts:</h2>
        </div>
        <div class = "col-md-5"> 
          {{ mars_index.mars_table_html | safe }}
          <hr>
        </div>
      </div>
      </div>
      <div class = "col-md-12">
        <hr>
        <h2>Mars Hemispheres:</h2>
      </div>
      <div class = "col-md-12">   
          {% for img in mars_index.hemisphere_image_urls %}
            <div class = "col-md-3">
              <img src = "{{img.img_url}}" width=90%>
              <h4>{{img.title}}</h4>
            </div>
          {% endfor %}
      </div>
    </div>        
  </div>
  </div>
</body>

</html>